@{
    Layout = "~/_SiteLayout.cshtml";
    var title = DAL.DbHelperSQLite.GetOneField("value", "SiteConfig", "key='站点名称'");
    Page.Title = title + "店面介绍";
    //精品房源
    var jingpin = new DAL.House().GetModelList(" Type='Rent' and JingPin='精品' order by id desc");
    
    int p = Convert.ToInt32(Request["p"]);//pageindex
    int pagesize = 10;
    int rowcount = 0;
    int pagecount = 0;
    var store = new DAL.Company().GetModelListByPage("", " id desc", p, pagesize, ref rowcount, ref pagecount);
    if (p == 0) { p = 1; }
    var aa = Common.PageInfo(rowcount, pagesize, p, "/Store?");
}

<div id="fh5co-page-title" style="background-image: url(images/hero_2.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="text">
            <h1>@(title)店面介绍</h1>
        </div>
    </div>
</div>

<main role="main" id="fh5co-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="fh5co-sidebar">
                <div class="fh5co-side-block" style="border:solid 1px #ccc;border-radius:4px;padding:10px 10px;">
                    <h2>精品房源</h2>
                    <div>
                        @foreach (var j in jingpin)
                        {
                            <div style="text-align:center;margin:10px 0;">
                                <div><a href="~/Company?ID=@j.ID"><img src="images/img_10.jpg" style="width:80%;padding:0;margin:0;" /></a></div>
                                <a href="~/Company?ID=@j.ID">@j.Title</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-9" id="fh5co-content">
                @foreach (var c in store)
                {

                    <div class="row fh5co-row" style="">
                        <div class="col-md-2">
                            <img src="images/agentd.jpg" style="width:100%;padding:0;margin:auto;" />
                        </div>
                        <div class="col-md-7" style="line-height:30px;">
                            <h4 style="margin-top:10px;">@c.Name</h4>
                            <span><strong>@c.Summary</strong></span><br />
                            <span class="broker-name">
                                @c.Address @c.Phone
                            </span>
                        </div>
                        <div class="col-md-3" style="vertical-align:middle;">
                            <span style="font-size:30px;color:#81c141;line-height:135px;">17769018325</span>
                        </div>
                    </div>
                }
            </div>

            <div id="pagination" class="fan_page">
                @Html.Raw(aa)
                @*<span class="page-index">首页</span>
                    <span class="page-index">上一页</span>
                    <span class="on"><a href="#">1</a></span>
                    <span class=""><a href="#">2</a></span>
                    <span class=""><a href="#">3</a></span>
                    <span class=""><a href="#">4</a></span>
                    <span class=""><a href="#">下一页</a></span>
                    <span class="page-index"><a href="#">尾页</a></span>*@
            </div>
        </div>

    </div>


</main>